@import '../../shared/less/variables.less';

.blog {
  display: grid;
  grid-gap: @gutter;
  grid-template-columns: 1fr;
}

@media @mediumDevices {
  .blogSection {
    padding: 80px 0;
  }
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media @largeDevices {
  .blogSection {
    padding: 80px 0;
  }
  .blog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media @extraLargeDevices {
  .blogSection {
    padding: 80px 0;
  }
  .blog {
    grid-template-columns: repeat(4, 1fr);
  }
}
