@import (reference) './variables.less';
@import (reference) './mixins.less';

.primary {
  .btnAccentMixin();
  display: inline-block;
  text-decoration: none;
}

.large {
  .btnLargeMixin();
}

@media @mediumDevices, @largeDevices, @extraLargeDevices {
  .largeSize {
    font-size: 20px;
  }
}
