.btnMixin() {
  margin: 10px;
  padding: 10px 60px;
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: white;
  border-radius: 2px;
  line-height: 1.75;
  cursor: pointer;
};

.imgResponsiveMixin() {
  display: block;
  max-width: 100%;
  height: auto;
}
